canvas {
    position: fixed !important;
}

.footer {
    align-content: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.Mycard {
    width: 30rem;
    margin: 0 auto;
}

.banner{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25pt;
}

.resaltar:hover{
    font-family: 'Lexend Deca', sans-serif;
    background-color: lightgrey;
    border-radius: 25px;
}